.form-control, .form-btn{ box-shadow: unset !important; }
.form-btn { width: 48%; }

#form_section{border-radius: 8px; }

#info_search{ 
    position: relative;
    height: 42px;
    border: none;
}

#index_number{
 background-color: transparent;   
 border-color: transparent;
 color: tomato;
 font-weight: bold;
 font-size: 16px;
 position: absolute;
 /* background-color: #fafaf8; */
 width: auto;
 top: 0;
 transition: all 0.4s;
}

#search_box{
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    border-radius: 35px;
    transition: all 0.4s;
}

#search_box:focus{
    width: 100%;
    color: #00bfa5;
    font-weight: bold;
    border-radius: 7px;
}

#top_header{ color: rgb(8, 154, 212);}

.edit-icon{ margin-right: 10px;}
.edit-icon:hover{ color: white;}

thead{ background-color: #fff6ab; color: #5d6666; }
tbody{ color: rgb(11, 164, 224); text-align: center; }

.del-icon, .edit-icon{ width: 30px;  height: 30px;  color: white; }